body {
  text-align: center;
  /* background-color: #011F3F; */
  background-color: #000;
}
a{
  color: inherit;
  text-decoration: none;
}
.simon-game{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 1% 5% 1% 5%;
  color: #00ff15;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 0 5% 1% 5%;
  color: #00ff15;
}

.container {
  display: block;
  width: 50%;
  margin: auto ;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #272b2a;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: #3dcf04;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.footer-text{
  display: block;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #00ff15;
}
.github{
  font-family: 'Press Start 2P', cursive;
  color: #00ff15;
}
